<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/user">Perfil</a>
  <a routerLink="" (click)="doLogOut()">Sair</a>
</nav>

<div class="combined-links">
  <div class="follow-info">
    <div class="follow-item">
      <a class="reactive-box">Seguidores</a>
    </div>
    <div class="follow-item">
      <a class="reactive-box">Seguidos</a>
    </div>
  </div>
  <div class="perfil-links">
    <a class="reactive-box">Biblioteca</a>
    <a class="reactive-box">Wishlist</a>
    <a class="reactive-box">Listas Personalizadas</a>
  </div>
</div>

<h2>DESTAQUES</h2>
<div class="users-menu" *ngFor="let game of destaqueGames">
    <a routerLink="/game/{{game._id}}">{{game.name}}</a>
</div>

<h2>À VENDA</h2>
<div class="users-menu" *ngFor="let game of allGames">
    <a routerLink="/game/{{game._id}}">{{game.name}}</a>
    <img [src]="game.img" alt="Imagem do jogo" class="jogo-imagem" />
    <p class="game-price">{{game.price}}</p>
</div>