<body>
  <ul [@fadeInOut] class="nav">
    <li><a routerLink="/dashboard" data-hover="DASHBOARD">DASHBOARD</a></li>
    <li><a routerLink="/user" data-hover="PERFIL">PERFIL</a></li>

    <!-- search bar -->
    
<app-items-search></app-items-search>

    
    <li><a routerLink="" data-hover="SAIR" (click)="doLogOut()">SAIR</a></li>
  </ul>

 
  <!-- slideshow -->
  <img [@fadeInOut] class="slideshow" src="http://drive.google.com/uc?export=view&id=17v0lEy0E5wOIJcFHuvWleMqVSyVetp7O" style="width:100%">

  <h2 [@fadeInOut]>DESTAQUES</h2>
  <div [@fadeInOut] class="destaques-container">
    <div class="product-card-wrapper" *ngFor="let game of destaqueGames" tabindex="0">
      <div class="product-img">
        <img [src]="game.img" alt="Imagem do jogo" class="jogo-imagem" height="320" width="250"/>
      </div>
      <div class="product-info">
        <div class="product-text">
          <h1>{{game.name}}</h1>
          <p>{{game.description}}</p>
        </div>
        <div class="product-price-btn">
          <p><span>{{game.price}}</span>€</p>
          <button type="button" tabindex="0">COMPRAR</button>
        </div>
      </div>
    </div>
  </div>



  <br><br>
  <h2 [@fadeInOut]>SECÇÃO DO UTILIZADOR</h2>
  <link [@fadeInOut] rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div [@fadeInOut] class="box-container" *ngIf="user">
    
    <a style="text-decoration: none;" tabindex="0">
      <div class="box">
        <div class="text">
            <h2 class="topic-heading">{{user.followers.length}}</h2>
            <h2 class="topic">Seguidores</h2>
        </div>
        <i class="fa fa-users" aria-hidden="true" style="color: white; font-size: 40px;"></i>
    </div>
    </a>
    
    <a style="text-decoration: none;" routerLink="/following" tabindex="0">
      <div class="box">
          <div class="text" >
              <h2 class="topic-heading">{{user.following.length}}</h2>
              <h2 class="topic" >A seguir</h2>
          </div>
          <i class="fa fa-eye" aria-hidden="true" style="color: white; font-size: 40px;"></i>
      </div>
    </a>

    <a style="text-decoration: none;" routerLink="/biblioteca" tabindex="0">
      <div class="box" tabindex="0">
          <div class="text">
              <h2 class="topic-2">Biblioteca</h2>
          </div>
          <i class="fa fa-gamepad" style="color: white; font-size: 45px;"></i>
      </div>
    </a>

    <div class="box" tabindex="0">
        <div class="text">
            <h2 class="topic-2">Wishlist</h2>
        </div>
        <i class="fa fa-bookmark" aria-hidden="true" style="color: white; font-size: 40px;"></i>
    </div>

    <div class="box" tabindex="0">
      <div class="text">
          <h2 class="topic-2">Listas Personalizadas</h2>
      </div>
      <i class="fa fa-pencil-square-o" aria-hidden="true" style="color: white; font-size: 40px;"></i>
  </div>
</div>

  <br><br>
  <h2 [@fadeInOut]>À VENDA</h2>
  <div class="destaques-container">
    <div class="product-card-wrapper" *ngFor="let game of allGames" tabindex="0">
      <div class="product-img">
        <img [src]="game.img" alt="Imagem do jogo" class="jogo-imagem" height="320" width="250"/>
      </div>
      <div class="product-info">
        <div class="product-text">
          <h1>{{game.name}}</h1>
          <p>{{game.description}}</p>
        </div>
        <div class="product-price-btn">
          <p><span>{{game.price}}</span>€</p>
          <button type="button" tabindex="0">COMPRAR</button>
        </div>
      </div>
    </div>
  </div>

  <div [@fadeInOut] class="footer">
    <p>Footer</p>
  </div>

</body>