<!-- <nav>
  <a routerLink="/dashboard">DASHBOARD</a>
  <a routerLink="/user">Perfil</a>
  <a routerLink="" (click)="doLogOut()">Sair</a>
</nav> -->

  <ul class="nav">
    <li><a routerLink="/dashboard" data-hover="DASHBOARD">DASHBOARD</a></li>
    <li><a routerLink="/user" data-hover="PERFIL">PERFIL</a></li>
    <li></li>
    <li><a routerLink="" data-hover="SAIR" (click)="doLogOut()">SAIR</a></li>
  </ul>
  <body>
  <!-- slideshow -->
  <img class="slideshow" src="https://c0.wallpaperflare.com/preview/496/756/962/nature-landscape-garden-spring.jpg" style="width:100%">


    <!-- search bar -->
<app-items-search></app-items-search>

    <!-- </div> -->
    

    <!-- destaques -->
    <!-- <div class="users-menu" *ngFor="let game of allGames">
      <a routerLink="/game/{{game._id}}">{{game.name}}</a>
      <img [src]="game.img" alt="Imagem do jogo" class="jogo-imagem" />
      <p>{{game.price}}</p>
  </div> -->


    <div class="destaques-container" *ngFor="let game of destaqueGames">
      <div class="card">
        <img [src]="game.img" alt="Imagem do jogo" class="jogo-imagem" />
        <div class="card-body">
          <div class="row">
            <div class="card-title">
              <h4><a class="game-name" routerLink="/game/{{game._id}}">{{game.name}}</a></h4>
              <h3>{{game.price}}</h3>
            </div>
            <div class="view-btn">
              <a href="">View Details</a>
            </div>
          </div>
          <hr />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi,
            dignissimos.
          </p>
          <div class="btn-group">
            <div class="btn">
              <a href="">Buy Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>



  <div class="combined-links">
    <div class="follow-info">
      <div class="follow-item">
        <a class="reactive-box">Seguidores</a>
      </div>
      <div class="follow-item">
        <a class="reactive-box">Seguidos</a>
      </div>
    </div>
    <div class="perfil-links">
      <a class="reactive-box" routerLink="/biblioteca">Biblioteca</a>
      <a class="reactive-box">Wishlist</a>
      <a class="reactive-box">Listas Personalizadas</a>
    </div>
  </div>

  <h2>DESTAQUES</h2>
  <div class="users-menu" *ngFor="let game of destaqueGames">
      <a routerLink="/game/{{game._id}}">{{game.name}}</a>
  </div>

  <h2>À VENDA</h2>
  <div class="users-menu" *ngFor="let game of allGames">
      <a routerLink="/game/{{game._id}}">{{game.name}}</a>
      <img [src]="game.img" alt="Imagem do jogo" class="jogo-imagem" />
      <p>{{game.price}}</p>
  </div>

</body>

<h2>DESTAQUES</h2>
<div class="users-menu" *ngFor="let game of destaqueGames">
    <a routerLink="/game/{{game._id}}">{{game.name}}</a>
</div>

<h2>À VENDA</h2>
<div class="users-menu" *ngFor="let game of allGames">
    <a routerLink="/game/{{game._id}}">{{game.name}}</a>
    <img [src]="game.img" alt="Imagem do jogo" class="jogo-imagem" />
    <p class="game-price">{{game.price}}</p>
</div>
