<!DOCTYPE html>
<html>
<body>

<h2>Registar</h2>

<form >
  <label for="fname">nome:</label><br>
  <input type="text" id="mail" #name><br>
  <label for="fname">e-mail:</label><br>
  <input type="text" id="mail" #mail><br>
  <label for="lname">password1:</label><br>
  <input type="password" id="pass" #pass1><br><br>
  <label for="lname">password2:</label><br>
  <input type="password" id="pass" #pass2><br><br>
  <button type="button" (click)="register(name.value, mail.value, pass1.value, pass2.value)">registar</button>
  <button type="button" onClick="window.location.href='http://localhost:4200/login'">voltar</button>
</form> 

</body>
</html>
