<ul class="nav">
  <li><a routerLink="/dashboard" data-hover="DASHBOARD">DASHBOARD</a></li>
  <li><a routerLink="/user" data-hover="PERFIL">PERFIL</a></li>
  <li><a routerLink="" data-hover="SAIR" (click)="doLogOut()">SAIR</a></li>
</ul>

<body>
  <br><br><br><br><br>
  <div [@fadeInOut] class="destaques-container">
    <div class="product-card-wrapper" *ngIf="game" tabindex="0">
      <div class="product-img">
        <img [src]="game.img" alt="Imagem do jogo" class="jogo-imagem" height="320" width="250"/>
      </div>
      <div class="product-info">
        <button type="button" class ="wishButton" (click)="addToWishlist(game)" tabindex="0">Adicionar à wishlist</button>
        <div class="product-text">
          <h1>{{game.name}}</h1>
          <p>{{game.description}}</p>
        </div>
        <div class="product-price-btn">
          <p><span>{{game.price}}</span>€</p>
          <button type="button" (click)="incCart()">Comprar</button>
          <button type="button" (click)="goToSendPresent()">Enviar presente</button>
        </div>
      </div>
    </div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <div [@fadeInOut] class="detailsContainer" *ngIf="game">
      <div id="avgClassification"><h2 id="avgTitle">Classificação Média: {{game.avgClassification}}</h2></div>
      <div class="stars" id="5start">
        <a>{{classifications.get(5)}}</a>
        <i class="fa fa-star" aria-hidden="true" style="color: #5500cb"></i>
        <i class="fa fa-star" aria-hidden="true" style="color: #5500cb"></i>
        <i class="fa fa-star" aria-hidden="true" style="color: #5500cb"></i>
        <i class="fa fa-star" aria-hidden="true" style="color: #5500cb"></i>
        <i class="fa fa-star" aria-hidden="true" style="color: #5500cb"></i>
      </div>
      <div class="stars"id="4start">
        <a>{{classifications.get(4)}}</a>
        <i class="fa fa-star" aria-hidden="true" style="color: #5500cb"></i>
        <i class="fa fa-star" aria-hidden="true" style="color: #5500cb"></i>
        <i class="fa fa-star" aria-hidden="true" style="color: #5500cb"></i>
        <i class="fa fa-star" aria-hidden="true" style="color: #5500cb"></i>
      </div>
      <div class="stars" id="3start">
        <a>{{classifications.get(3)}}</a>
        <i class="fa fa-star" aria-hidden="true" style="color: #5500cb"></i>
        <i class="fa fa-star" aria-hidden="true" style="color: #5500cb"></i>
        <i class="fa fa-star" aria-hidden="true" style="color: #5500cb"></i>
      </div>
      <div class="stars"id="2start">
        <a>{{classifications.get(2)}}</a>
        <i class="fa fa-star" aria-hidden="true" style="color: #5500cb"></i>
        <i class="fa fa-star" aria-hidden="true" style="color: #5500cb"></i>
      </div>
      <div class="stars" id="1start">
        <a>{{classifications.get(1)}}</a>
        <i class="fa fa-star" aria-hidden="true" style="color: #5500cb"></i>
      </div>
      <div id="classify">
        <input #inputClassification id="inputClassification" (input)="saveInput(inputClassification.value)" placeholder="Classificar (1 - 5)" type="search" name="classificationInput" />
        <button id="OKBtn" (click)="classify()">OK</button>
      </div>
      <h4 style="margin-left: 3px; margin-top: 20px;">Marcadores Importantes:</h4>
      <div id="importantMarkers">
        <div class="marker">{{game.gameType}}</div>
        <div class="marker">{{game.plataform}}</div>
        <div class="marker">{{game.languages}}</div>
        
      </div>
    </div>
  </div>
</body>