<ul class="nav">
    <li><a routerLink="/dashboard" data-hover="DASHBOARD">DASHBOARD</a></li>
    <li><a routerLink="/user" data-hover="PERFIL">PERFIL</a></li>
    <li><a routerLink="" data-hover="SAIR" (click)="doLogOut()">SAIR</a></li>
  </ul>

<body>
    <br><br><br><br><br>
    <div class="destaques-container">
        <div class="product-card-wrapper" *ngIf="game" tabindex="0">
          <div class="product-img">
            <img [src]="game.img" alt="Imagem do jogo" class="jogo-imagem" height="320" width="250"/>
          </div>
          <div class="product-info">
            <div class="product-text">
              <h1>{{game.name}}</h1>
              <p>{{game.description}}</p>
            </div>
            <div class="product-price-btn">
              <p><span>{{game.price}}</span>€</p>
              <button type="button" tabindex="0">Ver detalhes</button>
            </div>
          </div>
        </div>
      </div>



    <!-- <div class="container">
        <div *ngIf="game">
            <h2 style="margin-left: 1%;">{{game.name | uppercase}}</h2>
            <div class="gameContent">
                <div class="leftContent">
                    <img id="gameImage" [src]="game.img" alt="Imagem do jogo"/>
                </div>
                <div class="rightContent">
                    <div id="price"><h3 style="margin-bottom: 5px;">Preço</h3>{{game.price}}</div>
                    <h3 style="margin-bottom: 5px;">Descrição</h3>
                    <div id="description">{{game.description}}</div>
                    <div class="btn-group">
                        <div class="btn">
                          <a href="">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div> -->
</body>