<ul class="nav">
    <li><a routerLink="/dashboard" data-hover="DASHBOARD">DASHBOARD</a></li>
    <li><a routerLink="/user" data-hover="PERFIL">PERFIL</a></li>
    <li><a routerLink="" data-hover="SAIR" (click)="doLogOut()">SAIR</a></li>
  </ul>

<body>
    <br><br><br><br><br>
    <div [@fadeInOut] class="destaques-container">
        <div class="product-card-wrapper" *ngIf="game" tabindex="0">
          <div class="product-img">
            <img [src]="game.img" alt="Imagem do jogo" class="jogo-imagem" height="320" width="250"/>
          </div>
          <div class="product-info">
            <div class="product-text">
              <h1>{{game.name}}</h1>
              <p><span>{{game.price}}</span>€</p>
            </div>
            <div class="product-price-btn">
              <input type="text" id="user" placeholder="Username" #user>
              <button type="button" (click)="confirm(user.value)">Comprar como presente</button>
            </div>
          </div>
        </div>
      </div>
</body>