<ul class="nav">
  <li><a routerLink="/dashboard" data-hover="DASHBOARD">DASHBOARD</a></li>
  <li><a routerLink="/user" data-hover="PERFIL">PERFIL</a></li>
  <li><a routerLink="" data-hover="SAIR" (click)="doLogOut()">SAIR</a></li>
</ul>
<div class="allElements" *ngIf="user">
  <h2 [@fadeInOut]>PERFIL</h2>
  <div [@fadeInOut]  class="card">
    <div class="card_background_img"></div>
    <div class="card_profile_img">
      <ng-container *ngIf="user.imagemPerfil; else defaultImage">
        <img [src]="user.imagemPerfil" alt="Imagem de perfil" class="profile-image-inner" (click)="toggleImageOptions()" />
      </ng-container>
      <ng-template #defaultImage>
        <img src="./assets/perfil.jpg" alt="Imagem de perfil" class="profile-image-inner" (click)="toggleImageOptions()" />
      </ng-template>
    </div>    
    
    <div class="user_details">
      <input class="username-input" [(ngModel)]="user.name" placeholder="Insira username"/>
      <button type="button" (click)="saveUsername()">save</button>
    </div>      
    <div class="card_count">
        <div class="count">
            <div class="followers">
              <a style="text-decoration: none;" tabindex="0">
                <h3 style="text-indent: 25px">{{user.followers.length}}</h3><br>
              </a>
                <p>Seguidores</p>
            </div>
            <div class="following">
                <a style="text-decoration: none;" routerLink="/following" tabindex="0">
                  <h3 style="text-indent: 15px">{{user.following.length}}</h3>
                </a>
                <br>
                <p>A seguir</p>
            </div>
           
        </div>
        <a style="text-decoration: none;" routerLink="/biblioteca" tabindex="0">
          <div class="btn">Biblioteca</div>
        </a>

        <a style="text-decoration: none;" routerLink="/wishlist" tabindex="0">
          <div class="btn">Wishlist</div>
        </a>

        <a style="text-decoration: none;" tabindex="0">
          <div class="btn">Listas Personalizadas</div> 
        </a>
    </div>
  </div>
  <div *ngIf="showImageOptions" class="imageOptions">
    <img height="110" width="75" src="http://drive.google.com/uc?export=view&id=1_Hk6EqZRjqa0FqVP-NM0XUhbYrTvijFf" alt="Imagem de perfil 1" class="option-image" (click)="chooseImage('http://drive.google.com/uc?export=view&id=1_Hk6EqZRjqa0FqVP-NM0XUhbYrTvijFf')" />
    <img id="secImage" height="110" width="75" style="z-index: 1"src="http://drive.google.com/uc?export=view&id=1yNU9qyTnv8Pua5HjNPMkoZzMDVl2KQS-" alt="Imagem de perfil 2" class="option-image" (click)="chooseImage('http://drive.google.com/uc?export=view&id=1yNU9qyTnv8Pua5HjNPMkoZzMDVl2KQS-')" />
  </div>    
</div>