<ul class="nav">
  <li><a routerLink="/dashboard" data-hover="DASHBOARD">DASHBOARD</a></li>
  <li><a routerLink="/user" data-hover="PERFIL">PERFIL</a></li>
  <li><a routerLink="" data-hover="SAIR" (click)="doLogOut()">SAIR</a></li>
</ul>
<div class="allElements" *ngIf="user">
  <h2>PERFIL</h2>
  <div class="card">
    <div class="card_background_img"></div>
    <div class="card_profile_img"></div>
    <div class="user_details">
        <h3>{{user.name | uppercase}}</h3><br>
    </div>
    <div class="card_count">
        <div class="count">
            <div class="followers" tabindex="0">
                <h3 style="text-indent: 25px">{{user.followers.length}}</h3><br>
                <p>Seguidores</p>
            </div>
            <div class="following" tabindex="0">
                <h3 style="text-indent: 15px">{{user.following.length}}</h3><br>
                <p>A seguir</p>
            </div>
           
        </div>
         <div class="btn" tabindex="0" routerLink="/biblioteca" >Biblioteca</div>
         <div class="btn" tabindex="0">Wishlist</div>
         <div class="btn" tabindex="0">Listas Personalizadas</div> 

    </div>
  </div>
  


  <!-- <div class="perfil-container">
    <div class="perfil-info">
      <h3>{{user.name | uppercase}}</h3>
      <ng-container *ngIf="user.imagemPerfil; else defaultImage">
        <img [src]="user.imagemPerfil" alt="Imagem de perfil" class="perfil-imagem" />
      </ng-container>    
      <ng-template #defaultImage>
        <img src="assets/perfil.jpg" alt="Imagem de perfil" class="perfil-imagem" />
      </ng-template>
    </div>
    <div class="follow-info">
      <div class="follow-item">
          <a class="reactive-box" tabindex="0">Seguidores</a>
          <span>{{user.followers.length}}</span>
      </div>
      <div class="follow-item">
          <a class="reactive-box" routerLink="/following" tabindex="0">A Seguir</a>
          <span>{{user.following.length}}</span>
      </div>
    </div>
    <div class="perfil-links">
        <a class="reactive-box" tabindex="0" routerLink="/biblioteca">Biblioteca</a>
        <a class="reactive-box" tabindex="0">Wishlist</a>
        <a class="reactive-box" tabindex="0">Listas Personalizadas</a>
    </div>        
  </div> -->
</div>