<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/user">Perfil</a>
</nav>

<div *ngIf="user">
  <h2>PERFIL</h2>
  <div class="perfil-container">
    <div class="perfil-info">
      <h3>{{user.name | uppercase}}</h3>
      <ng-container *ngIf="user.imagemPerfil; else defaultImage">
        <img [src]="user.imagemPerfil" alt="Imagem de perfil" class="perfil-imagem" />
      </ng-container>    
      <ng-template #defaultImage>
        <img src="assets/perfil.jpg" alt="Imagem de perfil" class="perfil-imagem" />
      </ng-template>
    </div>
    <div class="follow-info">
      <div class="follow-item">
        <a [routerLink]="['/followers']">Seguidores</a>
        <span>{{user.followers.length}}</span>
      </div>
      <div class="follow-item">
        <a [routerLink]="['/following']">Seguidos</a>
        <span>{{user.following.length}}</span>
      </div>
    </div>
    <div class="perfil-links">
      <a [routerLink]="['/biblioteca']">Biblioteca</a>
      <a [routerLink]="['/wishlist']">Wishlist</a>
      <a [routerLink]="['/listas-personalizadas']">Listas personalizadas</a>
    </div>
  </div>
</div>

<button type="button" (click)="doLogOut()">Sair</button>